:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bgColor: rgba(197, 200, 201, 0.562);
  --inputColor: #5a5f5f18;
  --inputFocusColor: rgba(89, 91, 92, 0.055);
  --textColor: ;
  --hoverColor: #708aa0;
  --shadow: inset 0.06em 0.1em 0.7em 0.05em var(--hoverColor);
  /* box-shadow: inset 0 1px 2px #4780af67, 0 -1px 1px #FFF, 0 1px 0 #FFF; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bgColor);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: 0px solid transparent;
  border-radius: 7px;
  padding: 0.7em;
  margin: 0.5em;
  background-color: var(--inputColor);
}

input:focus {
  outline: none !important;
  border: 0px solid var(--hoverColor);
  box-shadow: var(--shadow);
  background: var(--inputFocusColor);
}

.selectDiv {
  border-radius: 7px;
  overflow: hidden;
}

select {
  appearance: none;
  text-align-last: center;
  background-color: var(--inputColor);
  padding: 0.7em;
  border: 0px solid transparent;
  border-radius: 7px;
  margin: 0px;
}

select:hover {
  border: 0px solid #646cff;
  box-shadow: var(--shadow);
  transition: 0.25s;
}

select:focus,
select:active {
  appearance: none;
  outline: none;
  background-color: var(--inputFocusColor);
  border-radius: 7px;
}

#toTempInput,
#toVolInput {
  width: 15.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
